@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Universal Formatting*/
html {
  font-size: 16px;
}

body {
  color: rgb(74, 74, 74);
}

.container {
  width: 100%;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 42px;
  font-weight: 700;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
}

a {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgb(74, 74, 74);
}

span {
  font-family: 'Karla', sans-serif;
}

.mobile {
  display: none;
}

.smallimage {
  display: none;
}

.section2 h4 {
  margin-bottom: 8px;
}

@media only screen and (max-width: 640px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  position: fixed;
  z-index: 2;
  background-color: white;
}

header .logo {
  display: flex;
  align-items: center;
  height: 32px;
}

header .logo span {
  font-family: Helvetica;
  font-weight: bold;
}

header .logo span .lightgrey {
  color: rgb(155, 155, 155);
}

nav a:nth-child(n+2) {
  margin-left: 16px;
}

main {
  position: relative;
  top: 64px;
}

section .container {
  display: flex;
  padding: 32px 24px;
}

.section1 .container {
  align-items: center;
}

.blue {
  background-color: steelblue;
}

.banner {
  width: 60%;
  margin-right: 24px;
}

.tagline {
  width: 40%;
}

.tagline h4 {
  color: white;
  margin-top: 16px;
  margin-bottom: 32px;
}

.btn {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 24px;
  background-color: brown;
  align-content: center;
  padding: 10px 20px;
  letter-spacing: 2px;
}

.section3 h4 {
  margin-bottom: 8px;
}

.section3 p {
  margin-top: 8px;
}

@media only screen and (max-width: 640px) {
  /*Change Containers*/
  .section1 .container {
    padding: 0;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /*Fix For Banner Image Tablets*/
  .section1 img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 320px;
  }
  .tagline {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .section1 .container {
    display: block;
  }
  .section1 .banner {
    width: 100%;
    margin: 0;
  }
  .tagline {
    width: 100%;
    padding: 32px 16px;
  }
  .tagline h2 {
    margin: 0 0 32px;
  }
  .tagline h4 {
    margin: 0 0 32px;
  }
}

.darkgrey {
  background-color: darkgrey;
}

.section2 .container {
  padding-right: 0;
}

.section2 .banner h3 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.section2 .banner .text p {
  padding-right: 24px;
}

.section2 .banner .text span {
  display: block;
  margin-top: 32px;
  font-weight: 600;
  font-size: 12px;
}

.highlight {
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.events {
  display: flex;
  align-items: center;
  padding: 16px;
}

.events .image {
  width: 35%;
  height: auto;
}

.events .text {
  width: 65%;
  margin-left: 16px;
}

.events .text p {
  margin: 1px 0;
}

.events .text a {
  color: rgb(9, 113, 178);
}

.events .text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .section2 .container {
    padding: 16px;
  }

  .sidebar, .events {
    display: block;
  }

  .sidebar, .events, .events .image {
    width: 100%;
  }
  .events .text {
    margin: 32px 16px;
    color: rgb(74, 74, 74);
  }

  .events .text p {
    margin: 16px 0;
  }

  .events.blue {
    background: unset;
  }

}

@media only screen and (min-width: 641px) and (max-width: 850px) {

  .section2 .events .text {
    width: 80%;
  }
}

.section3 .container {
  display: block;
  padding: 32px 80px;
}

.section3 h3 {
  color: white;
}

.section3 h3, .section4 h3 {
  text-align: center;
  margin-bottom: 32px;
}
.section3 .rows.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.section3 .row {
  display: flex;
  justify-content: space-between;
}
.section3 .courses {
  width: 33.33%;
  margin: 0 32px 32px 0;
  background-color: rgb(255, 255, 255);
}
.section3 .courses:nth-child(3n) {
  margin-right: 0;
}
.section3 .row:nth-child(2n) .courses {
  margin-bottom: 0;
}
.section3 .courses .image {
  height: auto;
}
.section3 .courses .text {
  padding: 16px;
}
.section3 .courses .text {
  padding: 16px 16px 24px;
}
.section3 .courses .text span {
  display: block;
  margin: 1px 0;
}
.section3 .courses .text p {
  width: 90%;
}

@media only screen and (max-width: 850px) {
  .section2 .image {
    display: none;
  }

  .section2 .smallimage {
    display: block;
  }

  .highlight {
    color: white;
  }

  .section3 .desktop {
    display: none;
  }
  .section3 .mobile {
    display: block;
  }

  .section3 .container {
    padding: 32px 16px;
  }

  .section3 .rows.container {
    display: block;
  }
  .section3 .row {
    display: block;
  }

  .section3 .courses {
    font-size: 16px;
    width: 100%;
    margin: 1px 0;
    background-color: rgb(255, 255, 255);
  }
  .section3 h3 {
    margin-bottom: 24px;
  }

  .section3 .text {
    height: 60px;
    cursor: pointer;
  }

  .section3 .courses .text span {
    margin: 24px 0;
  }

  .dropdown {
    position: relative;
    z-index: -1;
  }
}

.section4 .container {
  display: block;
  padding: 32px 0 32px 24px;
}

.section4 h3 {
  color: white;
}
.video.container {
  display: flex;
  padding: 0;
}

.section4 .banner h4 {
  margin-top: 24px;
  margin-bottom: 1px;
}

.section4 .sidebar {
  justify-content: flex-start;
}

.section4 .events.blue {
  color: white;
}

@media only screen and (max-width: 640px) {
  .section4 .container {
    display: block;
    padding: 32px 0 24px;
  }

  .section4 h3 {
    margin: 0 auto 24px;
  }
  .video.container {
    display: block;
    padding: 0;
  }
  .section4 .banner {
    width: 100%;
    margin: 0;
  }

}

@media only screen and (min-width: 641px) and (max-width: 850px) {
  .section4 .image {
    display: none;
  }
  .section4 .events .text {
    width: 60%;
  }
}

footer {
  position: relative;
  top: 64px;
  height: 60px;
  padding: 16px 24px;
}

footer a {
  display: inline-block;
  float: right;
  margin-left: 24px;
}

@media only screen and (max-width: 640px) {
  /*Resize Footer*/
  footer {
    background-color: white;
    height: auto;
    padding: 0;
  }
  footer span {
    display: block;
    padding: 16px;
  }

}
